* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #a5f0e3 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, rgba(165, 240, 227, 0.5) 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #a5f0e3 25%, transparent 25%) 0 0/ 64px 64px, linear-gradient(45deg, rgba(165, 240, 227, 0.5) 25%, #109d8f 25%) 0 0/ 64px 64px;
    background-color: #109d8f;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	margin-bottom: 20px;
	line-height: 150%;
}

main {
	margin: 20px auto;
	max-width: 1000px;
	background: #fff;
	min-height: 80vh;
	padding: 20px;
	border-radius: 10px;
}

h1{
    color: red;
    display: flex;
  justify-content: center;
  font-family:fantasy;
}

h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.registro{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40%;
    padding: 18px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 113, 190);
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 4px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #fff;
}


.Inicio{
    text-align: center;
    display: flex;
    justify-content:center;
    width: 40%;
    padding: 18px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 113, 190);
    margin-bottom: 20px;
    display: inline-block;
    margin-top: 4px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100%;
    text-decoration: none;
    color: #fff;
}

.contenedor{
    display: flex;
    justify-content: space-around;
}

/* Boton translate */
.trans{
    float: left;
    cursor: pointer;
}


#translate{
    display: none;
}

.translatebutton{
    position: relative;
    float: left;
    bottom: 40vh;
}

/*fin footer*/


