@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

section{
	padding: 50px 10%;

}


/* Mision y vision */
.container_identidad{
	margin-top: 100px;
}

.about1{
	width: 100%;
	padding: 100px 0px;
	background-color: #085769;
}

.about2{
	width: 100%;
	padding: 100px 0px;
	background-color: #010a3f;
}
.about1 img{
	height: auto;
	width: 430px;
}

.mision_img{
	display: flex;
	justify-content: flex-end;
	margin-left: 80px;
	
}

.mision_img img{
	width: 450px;
}

.about-text2{
	width: 550px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main2{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text2 h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text, .about-text2 h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
}
.about-text, .about-text2 p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

/* Card valores */

.service{
	background: #101010;
	width: 100%;
	padding: 20px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

/* Fin valores */

/*boton flotante*/
/*Icono-bot flotante*/
.container_btn .btn_flotante .btn {
    background-color: cyan;
    padding: 15px 25px;
    border-radius: 100%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgb(13, 211, 255);
}

/* Fin Icono-bot flotante */

/*footer*/
footer{
    list-style: none;
    padding: 40px 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,52,65,1) 35%, rgba(43,80,88,1) 100%);
    text-align: center;
}

.footer_ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}

.footer_ul .fo_link{
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.footer_ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer_ul li .fo_link:hover{
    opacity: 1;
}

._marcalogo{
    display: inline-block;
    margin-top: 40px;
}

._marcalogo img{
    width: 120px;
}

footer p{
    color: white;
    margin-top: 30px;
    font-size: 15px;
}

/*fin footer*/
