@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}

section {
	padding: 50px 10%;

}


/* Mision y vision */
.container_identidad {
	margin-top: 100px;
}

.about1 {
	width: 100%;
	padding: 100px 0px;
	background-color: #085769;
}

.about2 {
	width: 100%;
	padding: 100px 0px;
	background-color: #010a3f;
}

.about1 img {
	height: auto;
	width: 430px;
	border-radius: 2rem;
}

.mision_img {
	display: flex;
	justify-content: flex-end;
	margin-left: 80px;

}

.mision_img img {
	width: 450px;
	border-radius: 2rem;
}

.about-text2 {
	width: 550px;
}

.about-text {
	width: 550px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main2 {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text2 h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text,
.about-text2 h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
}

.about-text,
.about-text2 p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

/* Card valores */

.service {
	background: #101010;
	width: 100%;
	padding: 20px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

/* Fin valores */