nav{
    background: whitesmoke;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.enlace{
    position: absolute;
    padding: 20px 30px;
}



.hamicon{
    width: 25px;
}

.logo{
    width: 400px;
}

.login{
    text-decoration: none;
    width: 170px;
    height: 40px;
    bottom: 5px;
    background: #141414;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.login span {
	transition: .4s ease-in-out all;
	position: absolute;
    bottom: 10px;
	left: 30%;
    
}

.login .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
    bottom: 4px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.login svg {
	color: #fff;
	width: 35px;
	height: 35px;
}

.login:hover {
	background: #607ddd;
}

.login:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.login:hover span {
	left: 20px;
}

nav ul{
    float: right;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 7px 25px;
    border-radius: 4px;
}

nav ul li ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background: cyan;
    display: none;
}



li .navlink.active, li .navlink:hover{
    background: #6f9dec;
    transition: .5s;
}


.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 1272px) {
    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1170px) {
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: whitesmoke;
        top: 100px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: blue;
    }

    #check:checked ~ ul{
        left: 0;
    }
}